@using EPiServer.Framework.Web.Resources
@using EPiServer.Shell.Navigation
@using EpiserverContentUsage.Extensions
@using EpiserverContentUsage.ViewModels
@model MainViewViewModel

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Optimizely Content Usage</title>

        <!-- Shell -->
        @ClientResources.RenderResources("ShellCore")

        <!-- LightTheme -->
        @ClientResources.RenderResources("ShellCoreLightTheme")

        <!-- Admin -->
        @ClientResources.RenderResources("Admin")
    </head>
    <body>
        @Html.CreatePlatformNavigationMenu()
        
        <div @Html.ApplyPlatformNavigation()>
            @RenderBody()
        </div>
    </body>
</html>